/* .App {
} */

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  padding: 20px;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

.link {
  color: #61dafb;
  padding: 5px;
  text-decoration: none;
}

